@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
}

.loga {
    width: 235px;
}

#home {
    padding-top: 150px;
}

.nav-link:hover {
    color: white;
    transition: 0.2s;
}

.karta:hover {
    transform: scale(1.020);
    transition: 0.5s;
}